<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <h6><%= product.description %></h6>
  </td>
  <td>
    <%= product.price %>
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>
    <%= product.price * line_item.quantity %>
  </td>
</tr>
